<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.my_project/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.my_project.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Buyers.browse" caption="msg://com.company.my_project.screen.buyers/buyersBrowse.menu"/>
        <item screen="Orders.browse" caption="msg://com.company.my_project.screen.orders/ordersBrowse.menu"/>
        <item screen="Products.browse" caption="msg://com.company.my_project.screen.products/productsBrowse.menu"/>
        <item screen="Product1.browse" caption="msg://com.company.my_project.screen.product1/product1Browse.menu"/>
        <item screen="Buyer1.browse" caption="msg://com.company.my_project.screen.buyer1/product1Browse.menu"/>
        <item screen="Order1.browse" caption="msg://com.company.my_project.screen.order1/product1Browse.menu"/>
    </menu>

</menu-config>